* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
  
.header-containr{
  width: 100%;
  background-color: #f8f9f9;
}